<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="CInfoDao">
  
  <resultMap type="cInfo" id="cInfoMap">
    <id column="crNo"           property="crNo"/>
    <result column="cName"    property="cName"/>
    <result column="map"  property="map"/>
    <result column="postNo"      property="postNo"/>
    <result column="addr"      property="addr"/>
    <result column="tel"      property="tel"/>
    <result column="fax"   property="fax"/>
  
  </resultMap>

  <select id="find" resultMap="cInfoMap">
    select 
	    crNo, 
	    cName, 
	    map, 
	    postNo, 
	    addr, 
	    tel, 
	    fax
    from 
      cms_cInfo
  </select>

  <insert id="insert" parameterType="cInfo">
			insert into cms_cInfo(crNo, cName, map, postNo, addr, tel, fax)
			values(#{crNo}, #{cName}, #{map}, #{postNo}, #{addr}, #{tel}, #{fax})
  </insert>

  <update id="update" parameterType="cInfo">
    update cms_cInfo set 
      cName = #{cName},
      map = #{map},
      postNo = #{postNo}, 
      addr = #{addr}, 
      tel = #{tel}, 
      fax = #{fax}
    where crNo = #{crNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from cms_cInfo 
    where crNo=#{crNo}
  </delete>
</mapper>






